<!--The content below is only a placeholder and can be replaced.-->

<mat-toolbar color="primary" class="navbar">
  <div>Material Toolbar</div>
  <div>
    <span>Home</span>
    <span>About</span>
    <span>Services</span>
  </div>
</mat-toolbar>

<!-- Side nave is done using 3-parts
1. side name container
2. side nav
3. side nav content- represents the main content.
  Note: Sidenav is always hidden by default. 
  The simplest way to show it is to use the 'opened' 
  attribute on the mat-side-nav.
  But once opened it can't be brought back so it must be 
  bind'ed to a property to manage it programmatically.
  
  also, mode for a sidenav can be specified using mode attrib.
  default is over. others are push, side.
  Other way to open /close sidenav is to invoke open/close methods
  on the sidenav itself.Create a template ref variable there.
  
  Third way is to toggle the sidenav by calling the toggle method.



<mat-sidenav-container>
  <mat-sidenav #sidenav (opened)="log('Opened')" (closed)="log('Closed')" mode="side" [(opened)] = "opened">Sidenav</mat-sidenav>
<mat-sidenav-content>Main 
  <button (click)="opened= !opened" mat-raised-button color="accent">Toggle opened</button>
  <button (click)="sidenav.open()" mat-raised-button color="warn">Open</button>
  <button (click)="sidenav.close()" mat-raised-button color="warn">Close</button>
  <button (click)="sidenav.toggle()" mat-raised-button color="Toggle">Toggle</button>
</mat-sidenav-content>
</mat-sidenav-container>
<router-outlet></router-outlet>

-->

<!-- 
  By default mat-menu element doesn't render anything.
  it has to be triggered from a ui element or programatically.
  Position the menu using xPosition and yPosition.

-->
<mat-menu #appMenu="matMenu" xPosition="after" yPosition="above">
  <button mat-menu-item [matMenuTriggerFor]="subMenuFE">Frontend</button>
  <button mat-menu-item [matMenuTriggerFor]="subMenuBE">Backend</button>
</mat-menu>
<button class="center" mat-flat-button [matMenuTriggerFor]="appMenu">Menu</button>

<!-- Create a sub menu for frontend menu item and associate these together-->
<mat-menu #subMenuFE="matMenu">
    <button mat-menu-item>Angular</button>
    <button mat-menu-item>React</button>
    <button mat-menu-item>Vue</button>  
</mat-menu>

<!-- Create a sub menu for frontend menu item and associate these together-->
<mat-menu #subMenuBE="matMenu">
    <button mat-menu-item>Nodejs</button>
    <button mat-menu-item>Java</button>
    <button mat-menu-item>C#</button>  
</mat-menu>
<!--Dynamic menu-->
<mat-menu #dynamicMenu="matMenu">
  <ng-template matMenuContent let-name="name" let-hobby="hobby">
    <button mat-menu-item>Settings</button>
    <button mat-menu-item>Hobby is : {{hobby}}</button>
    <button mat-menu-item>Log-out{{name}}</button>
    
  </ng-template>
</mat-menu>

<button mat-raised-button [matMenuTriggerData]="{ name:' User1', hobby: 'soccer'}" [matMenuTriggerFor]="dynamicMenu">Dyn menu </button>
<button mat-raised-button [matMenuTriggerData]="{ name:' User2', hobby: 'tennis'}" [matMenuTriggerFor]="dynamicMenu">Dyn menu2</button>

<mat-menu #iconMenu="matMenu">
  <button mat-menu-item>
    <mat-icon>dialpad</mat-icon>
    <span>Redial</span>
  </button>
  <button mat-menu-item disabled>
    <mat-icon>voicemail</mat-icon>
    <span>Check Voicemail</span>
  </button>
  <button mat-menu-item>
      <mat-icon>notifications_off</mat-icon>
      <span>Disable alerts</span>
    </button>
</mat-menu>
<button mat-icon-button [matMenuTriggerFor]="iconMenu">
  <mat-icon>more_vert</mat-icon>
</button>

<!--

<div>
  <p>using icon</p>
  <mat-icon color="primary">grade</mat-icon>

</div>
<div>
  <p>using Badge- below before</p>
  <span [matBadge]="notifications" [matBadgeHidden]="notifications===0" matBadgePosition="below before">Notification</span>
</div>
<div>
    <p>using below after</p>
    <span matBadge="15" matBadgePosition="below after">Notification</span>
</div>
 <div>
      <p>using Badge- below after</p>
      <span matBadge="15" 
        matBadgePosition="below after" 
        matBadgeColor="accent"
        matBadgeOverlap="false">Notification</span>
 </div>

 <div>
   <mat-spinner *ngIf="showSpinner" color="warn"></mat-spinner>
   <button (click)="loadData()">Load Data</button>
 </div>
    
  


<div>
<button mat-button>Hello world</button>
<button mat-raised-button>Hello world</button>
<button mat-flat-button>Hello world</button>
<button mat-stroked-button>Hello world</button>
</div>
<div>
    <button mat-icon-button>icon</button>
    <button mat-fab>Hello world</button>
    <button mat-mini-fab>Hello world</button>

</div>

<div>
    <button color="primary" mat-button>icon</button>
    <button color="accent" mat-button>Hello world</button>
    <button color="warn" mat-button>Hello world</button>

</div>


<div>
    <button color="primary" mat-raised-button>icon</button>
    <button color="accent"  disableRipple mat-raised-button>Accent</button>
    <button color="warn" mat-raised-button>Warn</button>

</div>

<div>
    <mat-button-toggle #toggleBtn>Toggle</mat-button-toggle>
    {{toggleBtn.checked}}
</div>


-->


<!--
<div>
  <div class="mat-display-4">This is display class 4</div>
  <div class="mat-display-3">This is display class 3</div>
  <div class="mat-display-2">This is display class 2</div>
  <div class="mat-display-1">This is display class 1</div>
  
  </div>
  
  <div class="mat-headline">This is heading 1 </div>
  <div class="mat-title">This is title </div>
  <div class="mat-subheading-2">This is sh 2 </div>
  <div class="mat-subheading-1">This is sh 1 </div>
  
-->